Repository credfeto/UpdatePackages, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-package, credfeto-package-test, credfeto-package-update, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

SDK - Updated DotNet SDK to 9.0.303
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[PR] Updated labels
  .github/labels.yml
Labels: none

SDK - Updated DotNet SDK to 9.0.303
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

[Gitignore config] Updated .gitignore
  .gitignore
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependabot] Updated configuration
  .github/dependabot.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/cloudformation-deploy/action.yml
  .github/actions/cloudformation-deploy/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.8.1282
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.275.1526
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.13.1330
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.201
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.210
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.1.0
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.DuplicateCodeAnalyzer (Code analysis) to 1.6.4
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.6.4
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Roslynator.Analyzers (Code analysis) to 4.14.0
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating SonarAnalyzer.CSharp (Code analysis) to 10.15.0.120848
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.23.0
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 3.0.0
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.280.1580
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.8
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Removed reference to Credfeto.Extensions.Linq
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project

Removed reference to Microsoft.Extensions.DependencyInjection.Abstractions
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project

Changelog for 1.10.202
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.121.1337
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.130.1126
  CHANGELOG.md
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.108.756
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.14.1336
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.14.1336
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-package":
 - any: [ 'src/$Credfeto.Package/**/*' ]
"credfeto-package-test":
 - any: [ 'src/$Credfeto.Package.Test/**/*' ]
"credfeto-package-update":
 - any: [ 'src/$Credfeto.Package.Update/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
