Repository credfeto/UpdatePackages, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-package, credfeto-package-test, credfeto-package-update, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.127.1366
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.135.1154
  CHANGELOG.md
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.113.784
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.21.1364
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.285.1620
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.212
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.22.1366
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/dotnet-version.yml
  .github/workflows/dotnet-version.yml
Labels: github-actions

[Actions] Updated .github/workflows/missing-releases.yml
  .github/workflows/missing-releases.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/update-labels.yml
  .github/workflows/update-labels.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.136.1160
  CHANGELOG.md
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

Changelog for 1.10.213
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.114.790
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.8.0
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.214
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/actions/dotnet-publish/action.yml
  .github/actions/dotnet-publish/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

<WarnOnPackingNonPackableProject>false</WarnOnPackingNonPackableProject>
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project

Cleanup: Credfeto.Package.Test.csproj
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project

Cleanup: Credfeto.Package.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-build-check/action.yml
  .github/actions/dotnet-build-check/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-code-analysis-override/action.yml
  .github/actions/dotnet-code-analysis-override/action.yml
Labels: none

[Code analysis - pre-release rule overrides] Updated src/pre-release.rule-settings.json
  src/pre-release.rule-settings.json
Labels: Config Change

[Code analysis - release rule overrides] Updated src/release.rule-settings.json
  src/release.rule-settings.json
Labels: Config Change

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-package":
 - any: [ 'src/$Credfeto.Package/**/*' ]
"credfeto-package-test":
 - any: [ 'src/$Credfeto.Package.Test/**/*' ]
"credfeto-package-update":
 - any: [ 'src/$Credfeto.Package.Update/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]
