Repository credfeto/UpdatePackages, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-package, credfeto-package-test, credfeto-package-update, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-package":
 - any: [ 'src/$Credfeto.Package/**/*' ]
"credfeto-package-test":
 - any: [ 'src/$Credfeto.Package.Test/**/*' ]
"credfeto-package-update":
 - any: [ 'src/$Credfeto.Package.Update/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Dependencies] Updating xunit.analyzers (Code analysis) to 1.24.0
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating xunit.v3 (Test Infrastructure) to 3.0.1
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet/action.yml
  .github/actions/dotnet/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-build-check/action.yml
  .github/actions/dotnet-build-check/action.yml
Labels: none

[Actions] Updated .github/actions/dotnet-code-analysis-override/action.yml
  .github/actions/dotnet-code-analysis-override/action.yml
Labels: none

[Code analysis - pre-release rule overrides] Updated src/pre-release.rule-settings.json
  src/pre-release.rule-settings.json
Labels: Config Change

[Code analysis - release rule overrides] Updated src/release.rule-settings.json
  src/release.rule-settings.json
Labels: Config Change

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.1.1
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[C# Directory Build Properties] Updated src/Directory.Build.props
  src/Directory.Build.props
Labels: none

Corrected Directory.Build.props
  src/Directory.Build.props
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.213
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.9.1
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.23.1420
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/actions/build/action.yml
  .github/actions/build/action.yml
Labels: none

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.215
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Microsoft.Sbom.Targets (Software Bill Of Materials) to 4.1.2
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/approve-dependabot.yml
  .github/workflows/approve-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/build-and-publish-pre-release.yml
  .github/workflows/build-and-publish-pre-release.yml
Labels: github-actions
