Repository credfeto/UpdatePackages, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-package, credfeto-package-test, credfeto-package-update, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-package":
 - any: [ 'src/$Credfeto.Package/**/*' ]
"credfeto-package-test":
 - any: [ 'src/$Credfeto.Package.Test/**/*' ]
"credfeto-package-update":
 - any: [ 'src/$Credfeto.Package.Update/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

[Actions] Updated .github/workflows/build-and-publish-release.yml
  .github/workflows/build-and-publish-release.yml
Labels: github-actions

[Actions] Updated .github/workflows/create-prs-for-stale-branches.yml
  .github/workflows/create-prs-for-stale-branches.yml
Labels: github-actions

[Actions] Updated .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Labels: github-actions

[Actions] Updated .github/workflows/merge-dependabot.yml
  .github/workflows/merge-dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

[Actions] Updated .github/workflows/pr-update.yml
  .github/workflows/pr-update.yml
Labels: github-actions

[Actions] Updated .github/workflows/pull-request.yml
  .github/workflows/pull-request.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Actions] Updated .github/workflows/todos.yml
  .github/workflows/todos.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.218
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.305
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Changelog for 1.10.215
  CHANGELOG.md
Labels: Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.129.1430
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.115.836
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.24.1452
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.137.1207
  CHANGELOG.md
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Microsoft.Extensions (Microsoft Extensions) to 9.0.9
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.216
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.219
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Code analysis] Updated src/CodeAnalysis.ruleset
  src/CodeAnalysis.ruleset
Labels: Static Code Analysis Rules

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.2.0.1690
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Actions] Updated .github/actions/build-tools/action.yml
  .github/actions/build-tools/action.yml
Labels: none

[Actions] Updated .github/actions/npm/action.yml
  .github/actions/npm/action.yml
Labels: none

[Actions] Updated .github/workflows/pr-lint.yml
  .github/workflows/pr-lint.yml
Labels: github-actions

Net10
  src/global.json
Labels: .NET update

Net10
  src/global.json
Labels: .NET update

Net10
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project

Updated DotNet SDK to 10.0.100-preview.5.25277.114
  src/global.json
Labels: .NET update

Dotnet 10
  CHANGELOG.md
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Updated DotNet SDK to 10.0.100-rc.1.25451.107
  src/global.json
Labels: .NET update

Removed net8
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Gitignore config] Updated .gitignore
  .gitignore
Labels: none
