Repository credfeto/UpdatePackages, changes with the labels that .github/labeler.yml gives for each.
All labels: .NET update, C#, C# Project, C# Solution, Change Log, Config Change, credfeto-package, credfeto-package-test, credfeto-package-update, github-actions, Markdown, Migration Script, Powershell, Read Me, Setup, Solidity, SQL, Static Code Analysis Rules, Unit Tests

.github/labeler.yml:

".NET update":
 - any: [ 'src/global.json' ]
"C#":
 - any: [ './**/*.cs', './**/*.csproj' ]
"C# Project":
 - any: [ './**/*.csproj' ]
"C# Solution":
 - any: [ './**/*.sln' ]
"Change Log":
 - any: [ 'CHANGELOG.md' ]
"Config Change":
 - any: [ 'src/**/*.json', '!src/global.json' ]
"credfeto-package":
 - any: [ 'src/$Credfeto.Package/**/*' ]
"credfeto-package-test":
 - any: [ 'src/$Credfeto.Package.Test/**/*' ]
"credfeto-package-update":
 - any: [ 'src/$Credfeto.Package.Update/**/*' ]
"github-actions":
 - any: [ '.github/workflows/*.yml' ]
"Markdown":
 - any: [ './**/*.md' ]
"Migration Script":
 - any: [ 'tools/MigrationScripts/**/*' ]
"Powershell":
 - any: [ './**/*.ps1', './**/*.psm1' ]
"Read Me":
 - any: [ 'README.md' ]
"Setup":
 - any: [ 'SETUP.md' ]
"Solidity":
 - any: [ './**/*.sol' ]
"SQL":
 - any: [ './**/*.sql', 'db/**/*' ]
"Static Code Analysis Rules":
 - any: [ 'src/CodeAnalysis.ruleset' ]
"Unit Tests":
 - any: [ 'src/*.Tests.*/**/*', 'src/*.Tests.Integration.*/**/*', 'src/*.Tests.Integration/**/*', 'src/*.Tests/**/*' ]

Changelog for 1.10.203
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.122.1340
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.131.1129
  CHANGELOG.md
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.211
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.204
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.15.1339
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.281.1593
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.109.760
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.132.1132
  CHANGELOG.md
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.205
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.123.1345
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.16.1341
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.133.1137
  CHANGELOG.md
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.110.765
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/dependabot.yml
  .github/workflows/dependabot.yml
Labels: github-actions

[Dependencies] Updating Meziantou.Analyzer (Code Analysis) to 2.0.212
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.206
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.124.1351
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.304
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

SDK - Updated DotNet SDK to 9.0.304
  CHANGELOG.md
  src/global.json
Labels: .NET update, Change Log, Markdown

Changelog for 1.10.207
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.17.1347
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.282.1603
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.208
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.125.1355
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.18.1350
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Extensions.Linq (Linq extensions) to 1.0.134.1145
  CHANGELOG.md
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Philips.CodeAnalysis.MaintainabilityAnalyzers (Code analysis) to 1.7.0
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.209
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.111.775
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.283.1612
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.210
  CHANGELOG.md
Labels: Change Log, Markdown

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.19.1359
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Enumeration (Code generator) to 1.2.126.1361
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating FunFair.Test.Common (Test Infrastructure) to 6.1.284.1617
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
Labels: C# Project, Change Log, Markdown

[Dependencies] Updating Credfeto.Version.Information.Generator (Code generator) to 1.0.112.779
  CHANGELOG.md
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
Labels: C# Project, Change Log, Markdown

[Actions] Updated .github/workflows/oss-scorecared.yml
  .github/workflows/oss-scorecared.yml
Labels: github-actions

[Dependencies] Updating FunFair.CodeAnalysis (Code analysis) to 7.1.20.1362
  CHANGELOG.md
  src/Credfeto.Package.Test/Credfeto.Package.Test.csproj
  src/Credfeto.Package.Update/Credfeto.Package.Update.csproj
  src/Credfeto.Package/Credfeto.Package.csproj
Labels: C# Project, Change Log, Markdown

Changelog for 1.10.211
  CHANGELOG.md
Labels: Change Log, Markdown
